body {
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #adbadc;
}

h2 {
    color: #1e88e5;
}

h1, h2 {
    margin-bottom: 20px;
}

.navbar {
    background-color: #343a40;
}

.navbar a {
    color: white;
}

.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.section-title {
    margin: 40px 0;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}

.container {
    padding: 10px 15px;
}

.hero {
    background-image: url('../images/welcome.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.btn-primary {
    background-color: #1e88e5;
    border-color: #1e88e5;
}

.navbar-logo {
    height: 100px; /* Adjust height as needed */
    width: auto;
    margin-right: 10px;
}

